fastapi
langchain
langchain_core
langchain-community
uvicorn[standard]
python-dotenv
tqdm
crewai
unstructured
tools
crewai
langchain-google-genai
langchain-openai
langchain-experimental 
wikipedia 
"wikibase-rest-api-client<0.2" 
mediawikiapi 
arxiv